<?xml version="1.0"?>

<launch>

  <!--- Run gmapping -->
  <include file="$(find engix_navigation)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find engix_robot)/launch/move_base.launch" />

  <!-- Run Frontier Exploration -->
  <include file="$(find engix_navigation)/launch/exploration.launch" />

</launch>
